<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.chenboda01.blauncherv1" />
        <package android:name="com.chenboda01.bnotesv1" />
        <package android:name="com.chenboda01.bmapv2osflow96" />
        <package android:name="com.chenboda01.btranslatev1" />
    </queries>
    <application android:label="B-Tasks V1" android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
